
:host {
  position: relative;
  display: flex;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  min-height: 100px;
}

:host([hidden]) {
  display: none;
}

.scroll-wrapper {
  flex: 1;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  // margin-right: 0px;
  // margin-right: -15px;
}

.scroll-content {
  transform: translateY(0px);

  // position: sticky;
  // top: 0px;
  // will-change: transform;
}

.scroll-spacer {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  visibility: hidden;
  // background-color: #FAA5;
  // border-radius: 50%;
}

// .scroll-items {}
