
$item-pad: 0px;
// $item-pad: 8px;

:host {
  display: flex;
}

:host:last-child .list-item-wrapper {
  margin-bottom: $item-pad;
}

.list-item-wrapper {
  flex: 1;
  min-height: 20px;
  margin: $item-pad $item-pad 0px $item-pad;

  p {
    margin: 3px 0px;
  }
}

.item-content {
  background-color: white;
  // border-radius: 3px;
  box-shadow: 0px 1px 1px 1px #CCC;
  // border: 1px solid #DDD;
  // border-width: 0 0 1px;
  padding: 8px;
}


.check-index {
  float: right;
  color: silver;
  margin: 2px 2px 0 0;
  font-family: -moz-fixed;
}
