<div class="list-item-wrapper">
  <span class="check-index">{{index}}</span>

  <div class="item-content">
    <!-- list-item id:<span>{{item.id}}</span> ! -->

    <div class="content" *ngIf="item.content" [innerHTML]="item.content"></div>

    <div *ngIf="item.hasButtons">
      <!-- <div class="btn-group">
        <button (click)="onTodo()">Show more</button>
      </div> -->

      <div class="btn-group">
        <button (click)="onInsertEvent(1, true)">Insert 1 below</button>
        <button (click)="onInsertEvent(2, true)">2</button>
      </div>

      <div class="btn-group">
        <button (click)="onInsertEvent(1, false)">1 above</button>
        <button (click)="onInsertEvent(2, false)">2</button>
      </div>

      <div class="btn-group">
        <button (click)="onRemoveItem()">Remove</button>
      </div>
    </div>

    <!-- <div *ngIf="item.content2" [innerHTML]="item.content2"></div> -->

  </div>

</div>
