<div>

  <ng-vscroll-box #scrollRef
    idProp="id"
    [items]="items"
    (changeEvent)="onChangeEvent($event)"
    (updateEvent)="onUpdateEvent($event)"
    >
    <!-- <div
      *ngFor="let item of scrollRef.viewPortItems; let i = index;"
      [vscrollItemId]="item.id"
      >
      {{item.content}}
    </div> -->
    <app-list-item
      *ngFor="let item of viewPortItems; let i = index;"
      [vscrollItemId]="item.id"
      [item]="item"
      [index]="i"
      (insertEvent)="onInsertItemEvent($event)"
      (removeEvent)="onRemoveItemEvent($event)">
    </app-list-item>

  </ng-vscroll-box>


  <div class="my-10">
    <div class="btn-group">
      <button (click)="onAddItems('prepend', 2)">Prepend 2</button>
      <button (click)="onAddItems('prepend', 10)">10</button>
      <button (click)="onAddItems('prepend', 100)">100</button>
    </div>

    <div class="btn-group">
      <button (click)="onAddItems('append', 2)">Append 2</button>
      <button (click)="onAddItems('append', 10)">10</button>
      <button (click)="onAddItems('append', 100)">100</button>
    </div>

    <button (click)="onReset()">Reset</button>
    <label><input type="checkbox" name="isAuto" [checked]="isAuto" (change)="isAuto = !isAuto" />Auto Load</label>

    <div class="btn-group">
      <button (click)="onScrollTo('top')">To Top</button>
      <button (click)="onScrollTo('bottom')">To Bottom</button>
    </div>

    <div class="btn-group">
      <input [(ngModel)]="toId" type="number" placeholder="Id" class="w-16" min="0" max="10000" />
      <button (click)="onScrollTo('id')">To ID</button>
    </div>

    <div class="btn-group">
      <input [(ngModel)]="toPosition" type="number" placeholder="Id" class="w-16" min="0" max="100000" />
      <button (click)="onScrollTo('position')">To Position</button>
    </div>

    <!-- <div class="btn-group">
      <button (click)="onTodo()">Sticky Bottom</button>
      <button (click)="onTodo()">ScrollBar</button>
    </div> -->
  </div>

  <pre>{{checkStr}}</pre>
</div>
