
<h1>{{ title }}</h1>

<div>
  Angular virtual scroll for variable heights, especially chat like interfaces.
  <a target="_blank" rel="nofollow noreferrer noopener" href="https://gitlab.com/cforcloud/ng-vscroll-box/tree/master/projects/ng-vscroll-box#readme">Source</a>
</div>

<!-- <nav class="my-10">
  <a routerLink="/demo-simple" routerLinkActive="active">demo simple</a>
  <a routerLink="/demo-chat" routerLinkActive="active">demo chat</a>
</nav> -->

<router-outlet></router-outlet>
