
nav a {
  padding: 5px 10px;
  margin-right: 5px;
  display: inline-block;
  border: 1px solid silver;
  border-radius: 3px;
  text-decoration: none;
  color: rgb(38, 38, 206);
}

.active {
  background: rgb(194, 194, 194);
}
