/* You can add global styles to this file, and also import other style files */

body {
  background-color: #EEE;
}

*, *::after, *::before {
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0rem;
}

ng-vscroll-box {
  // width: 500px;
  // height: 50vh;
  height: 502px;
  border: 1px solid silver;
  overflow-anchor: none;
}

.credit {
  color: #999;
  font-size: 0.8rem;
}

/// buttons
button {
  min-height: 1.8rem;
}
.btn-group {
  display: inline-flex;
  margin: 0 5px 5px;
  button:not(:first-child) {
    margin-left: -2px;
  }
}

/// tailwind / bootstrap like utilities
.flex {
  display: flex;
}
.items-end {
  align-items: flex-end;
}
.justify-between {
  justify-content: space-between;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.w-100p {
  max-width: 100%;
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.w-12 {
  width: 3rem;
}
.w-16 {
  width: 4rem;
}

/// debug
@mixin debug() {
  box-shadow: 1px 1px 1px 1px #F99;
}
.debug {
  @include debug();
}
